.App {
  text-align: center;
}

* {
  box-sizing:border-box;
}

.content {
  position: absolute;
  width: 100% ;
  height: calc(100% - 59px);
  min-height: 400px;
  min-width: 500px;
  background-color: #483d8b;
}

.left {
  float:left;
  width:50%; /* The width is 20%, by default */
  height: 100%;
  position: relative;
  background-color: #483d8b;
}

.right {
  float:left;
  width:50%; /* The width is 20%, by default */
  /*height: 100%;*/
  position: relative;
  background-color: #483d8b;
}


@media screen and (max-width:991px) {
  .left, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}